@{
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}
@{
    ViewBag.Title = "ResumeDetail";
}

@section head{
    <link href="~/Css/Resume/ResumeDetail.css" rel="stylesheet" type="text/css" />
}

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <!-- BEGIN PAGE CONTENT BODY -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="page-content-inner">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <div class="alert">
                                <p>
                                    <strong>主动应聘职位：</strong>
                                    <a>@Model.expect_position_name</a>
                                    <span>|@Model.expect_city_ids|2018/03/13/15:38</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light ">
                            <div class="portlet-body">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#tab_1_1" data-toggle="tab">中文简历 </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade active in resume" id="tab_1_1">
                                        <form action="#" role="form">
                                            <div class="form-group">
                                                <!--个人信息BEGIN-->
                                                <div class="col-md-12 resume_title">
                                                    <i class="icon-user"></i>
                                                    <span href="" class="item-name primary-link">个人信息</span>
                                                </div>
                                                <div class="col-md-12 resume_content">
                                                    <div class="col-md-8">
                                                        <dl class="user-data clearfix chinese chinese">
                                                            <dd>
                                                                <label>姓名:</label>
                                                                <div class="col">@Model.name</div>
                                                            </dd>
                                                            <dd>
                                                                <label>性别：</label>
                                                                <div class="col">@Model.gender</div>
                                                            </dd>
                                                            <dd>
                                                                <label>手机号码：</label>
                                                                <div class="col">@Model.phone 已验证 </div>
                                                            </dd>
                                                            <dd>
                                                                <label>年龄：</label>
                                                                <div class="col">@Model.age 岁</div>
                                                            </dd>
                                                            <dd>
                                                                <label>电子邮件：</label>
                                                                <div class="col">@Model.email 已验证</div>
                                                            </dd>
                                                            <dd>
                                                                <label>教育程度：</label>
                                                                <div class="col">@Model.degree</div>
                                                            </dd>
                                                            <dd>
                                                                <label>工作年限：</label>
                                                                <div class="col">@Model.expect_work_at 年</div>
                                                            </dd>
                                                            <dd>
                                                                <label>婚姻状况：</label>
                                                                <div class="col">保密</div>
                                                            </dd>
                                                            <dd>
                                                                <label>职业状态： </label>
                                                                <div class="col">@Model.current_status</div>
                                                            </dd>
                                                            <dd>
                                                                <label>所在地：</label>
                                                                <div class="col">@Model.expect_city_ids</div>
                                                            </dd>
                                                            <dd>
                                                                <label>国籍：</label>
                                                                <div class="col">中国</div>
                                                            </dd>
                                                            <dd>
                                                                <label>户籍：</label>
                                                                <div class="col">@Model.account_province</div>
                                                            </dd>

                                                        </dl>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="containerimg">
                                                            <img class="margin" src="~/Scripts/metronic/assets/pages/media/users/avatar80_1.jpg" width="100%">
                                                            <div class="resume-tips">
                                                                <ul style="transform: rotateX(-4.24deg) rotateY(-4.88deg);">
                                                                    <li class="tag0">财务软件</li>
                                                                    <li class="tag1">sap</li>
                                                                    <li class="tag2">财务</li>
                                                                    <li class="tag3">应付会计</li>
                                                                    <li class="tag4">月末结账</li>
                                                                    <li class="tag5">审计</li>
                                                                    <li class="tag6">业务凭证</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 operating">
                                                        <button type="submit" class="btn green">发起意向沟通</button>
                                                        <span class="lines"></span>
                                                        <button type="submit" class="btn green">目标人选</button>
                                                        <button type="submit" class="btn green">不合适</button>
                                                        <button type="submit" class="btn green">通知面试</button>
                                                        <button type="submit" class="btn green">背景调查</button>
                                                    </div>
                                                </div>
                                                <!--个人信息END-->
                                                <!--简历透镜BEGIN-->
                                                <div class="col-md-12 resume_title">
                                                    <i class="fa fa-pie-chart"></i>
                                                    <span href="" class="item-name primary-link">简历透镜</span>
                                                </div>
                                                <div class="col-md-12 resume_content">
                                                    <div class="col-md-12" style="border-bottom: 1px solid #bcc6c9;">
                                                        <div class="col-md-6" style="border-right: 1px solid #bcc6c9;">
                                                            <h4>透镜分析</h4>
                                                            <p>投递意向薪水 5万-10万</p>
                                                            <ul class="clearfix resume-quality">
                                                                <li style="visibility: hidden;"><span class="labels">较差</span></li>
                                                                <li><span class="labels">一般</span></li>
                                                                <li style="visibility: hidden;"><span class="labels">抢手</span></li>
                                                            </ul>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-success" style="width: 33%; background-color: #D1EDF8;">
                                                                    <span class="sr-only">33% Complete (success) </span>
                                                                </div>
                                                                <div class="progress-bar progress-bar-warning" style="width: 34%; background-color: #ABE1F7;">
                                                                    <span class="sr-only">34% Complete (warning) </span>
                                                                </div>
                                                                <div class="progress-bar progress-bar-danger" style="width: 33%; background-color: #5AC3F0;">
                                                                    <span class="sr-only">33% Complete (danger) </span>
                                                                </div>
                                                            </div>
                                                            <p>被查看次数高于同类型 40% 的候选人</p>
                                                            <div class="col-md-12 education">
                                                                <p>毕业院校</p>
                                                                <p>保定学院 大专</p>
                                                                <p>统招</p>
                                                                <p>高校排名：651</p>
                                                                <p>管理学排名： ~</p>
                                                                <p>行政管理排名： ~</p>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="easy-pie-chart">
                                                                    <div class="number transactions" data-percent="55">
                                                                        <span>98</span>%
                                                                    </div>
                                                                    <a class="title" href="javascript:;">北京</a>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-3">
                                                                <div class="easy-pie-chart">
                                                                    <div class="number visits" data-percent="85">
                                                                        <span>78</span>%
                                                                    </div>
                                                                    <a class="title" href="javascript:;">IT·互联网</a>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-3">
                                                                <div class="easy-pie-chart">
                                                                    <div class="number bounce" data-percent="46">
                                                                        <span>30</span>%
                                                                    </div>
                                                                    <a class="title" href="javascript:;">中小企业</a>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="easy-pie-chart">
                                                                    <div class="number bounce" data-percent="46">
                                                                        <span>48</span>%
                                                                    </div>
                                                                    <a class="title" href="javascript:;">私营/民营企业</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <h4>职场信用</h4>
                                                            <p>信用评级 较差</p>
                                                            <ul class="clearfix resume-quality2">
                                                                <li><span class="labels">较差</span></li>
                                                                <li style="visibility: hidden;"><span class="labels">良好</span></li>
                                                                <li style="visibility: hidden;"><span class="labels">中等</span></li>
                                                                <li style="visibility: hidden;"><span class="labels">优秀</span></li>
                                                                <li style="visibility: hidden;"><span class="labels">极好</span></li>
                                                            </ul>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-success" style="width: 20%; background-color: #abdc39;">
                                                                    <span class="sr-only">20% Complete (success) </span>
                                                                </div>
                                                                <div class="progress-bar progress-bar-warning" style="width: 20%; background-color: #ffce2e;">
                                                                    <span class="sr-only">20% Complete (warning) </span>
                                                                </div>
                                                                <div class="progress-bar progress-bar-danger" style="width: 20%; background-color: #ffa943;">
                                                                    <span class="sr-only">20% Complete (danger) </span>
                                                                </div>
                                                                <div class="progress-bar progress-bar-danger" style="width: 20%; background-color: #ff8623;">
                                                                    <span class="sr-only">20% Complete (danger) </span>
                                                                </div>
                                                                <div class="progress-bar progress-bar-danger" style="width: 20%; background-color: #fd601e;">
                                                                    <span class="sr-only">20% Complete (danger) </span>
                                                                </div>
                                                            </div>
                                                            <p>信用分击败了48%的求职者</p>
                                                            <div class="col-md-12">
                                                                <!-- BEGIN CHART PORTLET-->
                                                                <div id="credit" class="chart" style="height: 215px;"></div>
                                                                <!-- END CHART PORTLET-->
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="col-md-2">手机已认证</div>
                                                                <div class="col-md-2">邮箱已认证</div>
                                                                <div class="col-md-2">头像已认证</div>
                                                                <div class="col-md-2">身份已认证</div>
                                                                <div class="col-md-4"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <p><strong>目前职业概况</strong></p>
                                                        <div class="col-md-6">所在行业：电子技术/半导体/集成电路</div>
                                                        <div class="col-md-6">公司名称：富智康精密组件（北京）有限公司</div>
                                                        <div class="col-md-6">所任职位：资金专员</div>
                                                        <div class="col-md-6">目前年薪：保密</div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <p><strong>职业发展意向</strong></p>
                                                        <div class="col-md-6">期望行业： 互联网/移动互联网/电子商务;交通/物流/运输;航空/航天</div>
                                                        <div class="col-md-6">期望职位：会计/会计师</div>
                                                        <div class="col-md-6">期望地点：北京</div>
                                                        <div class="col-md-6">期望年薪：面议</div>
                                                    </div>
                                                </div>
                                                <!--简历透镜END-->
                                                <!--工作经历BEGIN-->
                                                <div class="col-md-12 resume_title">
                                                    <i class="fa fa-briefcase"></i>
                                                    <span href="" class="item-name primary-link">工作经历</span>
                                                </div>
                                                <div class="col-md-12 resume_content">
                                                    <div class="experience">
                                                        <div class="col-md-2 experienceTime">
                                                            <p><strong>2016/01–至今</strong></p>
                                                        </div>
                                                        <div class="col-md-10 experienceDetails">
                                                            <p>
                                                                <strong class="company">富智康精密组件（北京）有限公司 （7年10个月）</strong>
                                                                <strong class="colleague">同事认证：1</strong>
                                                            </p>
                                                            <!--弹出窗口-->
                                                            <!--
                                                                               <ul class="dropdown-menu">
                                                                                    <li class="external">
                                                                                        <h3>您有<strong> 7 </strong>条新消息</h3>
                                                                                        <a href="app_inbox.html">全部已读</a>
                                                                                    </li>
                                                                                    <li>
                                                                                        <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                                                                                            <li>
                                                                                                <a href="#">
                                                                                                    <span class="photo" style="">
                                                                                                    </span>
                                                                                                    <span class="subject">
                                                                                                            <span class="from"> 个人认证通知 </span>
                                                                                                    <span class="time">01-30 </span>
                                                                                                    </span>
                                                                                                    <span class="message"> 尊敬的HR，您好！恭喜您已经完成实名认证，感谢您的支持！ </span>
                                                                                                </a>
                                                                                            </li>
                                                                                            <li>
                                                                                                <a href="#">
                                                                                                    <span class="photo">        
                                                                                                    </span>
                                                                                                    <span class="subject">
                                                                                                            <span class="from"> 个人认证通知 </span>
                                                                                                    <span class="time">01-30 </span>
                                                                                                    </span>
                                                                                                    <span class="message"> 尊敬的HR，您好！恭喜您已经完成实名认证，感谢您的支持！ </span>
                                                                                                </a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </li>
                                                                                </ul>
-->
                                                            <!--弹出窗口-->
                                                            <span>公司行业：</span> 电子技术/半导体/集成电路
                                                                                <p>资金专员</p>
                                                            <table class="tableDetails">
                                                                <tbody>
                                                                    <tr>
                                                                        <th>所在地区：</th>
                                                                        <td>北京</td>
                                                                        <th>所在部门：</th>
                                                                        <td>财务部</td>
                                                                        <th>汇报对象：</th>
                                                                        <td>财务主管</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>下属人数：</th>
                                                                        <td>0</td>
                                                                        <th>薪酬情况：</th>
                                                                        <td colspan="3">保密</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>职责业绩：</th>
                                                                        <td colspan="5">1 熟悉资金运作管理：①编制资金计划，监督资金使用；②操作本币和美元定存，核对存贷款利息；③购买和赎回银行保本理财产品，并上报台北股务进行公告；④熟悉关联公司间资金贷予流程；⑤管理银行票据、存单、汇票及登记台账。
                                                                                                <br>
                                                                            2 编制汇总各类资金报表：资金日报、月报；现金流量月报、现金流量预估表；营收月报及财务月报各种资金报表的编制。
                                                                                                <br>
                                                                            3 银行授信及融资管理：根据业务需要，向银行申请综合授信及贸易融资授信，承做存贷套利、进口代付、同业代付、质押融资等业务，提高财务收益。
                                                                                                <br>
                                                                            4 人民币收付款业务：依据财务管理制度规定，审核费用凭证（对公付款和对私报销）和原始单据的正确性和签核权限，在SAP系统冲账付款，关联公司大额AP催收清帐。
                                                                                                <br>
                                                                            5 外汇业务：按照银行要求提供收付款单据（三单匹配），进行外汇结算及结购汇业务。研读外管局及银行国际结算管理规定，积极关注外汇最新政策。
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="experience">
                                                        <div class="col-md-2 experienceTime">
                                                            <p><strong>2013/01–2016/01</strong></p>
                                                        </div>
                                                        <div class="col-md-10 experienceDetails">
                                                            <p><strong>富智康精密组件（北京）有限公司 （7年10个月）</strong></p>
                                                            <span>公司行业：</span> 电子技术/半导体/集成电路
                                                                                <p>资金专员</p>
                                                            <table class="tableDetails">
                                                                <tbody>
                                                                    <tr>
                                                                        <th>所在地区：</th>
                                                                        <td>北京</td>
                                                                        <th>所在部门：</th>
                                                                        <td>财务部</td>
                                                                        <th>汇报对象：</th>
                                                                        <td>财务主管</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>下属人数：</th>
                                                                        <td>0</td>
                                                                        <th>薪酬情况：</th>
                                                                        <td colspan="3">保密</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>职责业绩：</th>
                                                                        <td colspan="5">1 熟悉资金运作管理：①编制资金计划，监督资金使用；②操作本币和美元定存，核对存贷款利息；③购买和赎回银行保本理财产品，并上报台北股务进行公告；④熟悉关联公司间资金贷予流程；⑤管理银行票据、存单、汇票及登记台账。
                                                                                                <br>
                                                                            2 编制汇总各类资金报表：资金日报、月报；现金流量月报、现金流量预估表；营收月报及财务月报各种资金报表的编制。
                                                                                                <br>
                                                                            3 银行授信及融资管理：根据业务需要，向银行申请综合授信及贸易融资授信，承做存贷套利、进口代付、同业代付、质押融资等业务，提高财务收益。
                                                                                                <br>
                                                                            4 人民币收付款业务：依据财务管理制度规定，审核费用凭证（对公付款和对私报销）和原始单据的正确性和签核权限，在SAP系统冲账付款，关联公司大额AP催收清帐。
                                                                                                <br>
                                                                            5 外汇业务：按照银行要求提供收付款单据（三单匹配），进行外汇结算及结购汇业务。研读外管局及银行国际结算管理规定，积极关注外汇最新政策。
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--工作经历END-->
                                                <!--项目经历BEGIN-->
                                                <div class="col-md-12 resume_title">
                                                    <i class="fa fa-folder-o"></i>
                                                    <span href="" class="item-name primary-link">项目经历</span>
                                                </div>
                                                <div class="col-md-12 resume_content">
                                                    <div class="experience">
                                                        <div class="col-md-2 experienceTime">
                                                            <p><strong>2016/01–至今</strong></p>
                                                        </div>
                                                        <div class="col-md-10 experienceDetails">
                                                            <p><strong>理财业务</strong></p>
                                                            <table class="tableDetails">
                                                                <tbody>
                                                                    <tr>
                                                                        <th>项目职务：</th>
                                                                        <td>资金专员</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>所在公司：</th>
                                                                        <td>富士康集团</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>项目简介： </th>
                                                                        <td>利用公司富余资金，承做理财业务，为公司创造财务收益。</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>项目职责： </th>
                                                                        <td>1.充分利用公司富余资金，为公司创造财务收益。条件考量收益率、资金安全、银行分散性。
                                                                                                <br />
                                                                            2.理财到期前，提前做资金规划和资金安排，多个银行询价，请示主管同意后，系统提理财交易单，通知股务单，准备理财文件，交银行处理，业务当天与银行确认是否购买成功。</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>项目业绩：</th>
                                                                        <td>在考量资金安全性的基础上，每月为公司创造近千万的财务收益。</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="experience">
                                                        <div class="col-md-2 experienceTime">
                                                            <p><strong>2013/01–2016/01</strong></p>
                                                        </div>
                                                        <div class="col-md-10 experienceDetails">
                                                            <p><strong>理财业务</strong></p>
                                                            <table class="tableDetails">
                                                                <tbody>
                                                                    <tr>
                                                                        <th>项目职务：</th>
                                                                        <td>资金专员</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>所在公司：</th>
                                                                        <td>富士康集团</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>项目简介： </th>
                                                                        <td>利用公司富余资金，承做理财业务，为公司创造财务收益。</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>项目职责： </th>
                                                                        <td>1.充分利用公司富余资金，为公司创造财务收益。条件考量收益率、资金安全、银行分散性。
                                                                                                <br />
                                                                            2.理财到期前，提前做资金规划和资金安排，多个银行询价，请示主管同意后，系统提理财交易单，通知股务单，准备理财文件，交银行处理，业务当天与银行确认是否购买成功。</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>项目业绩：</th>
                                                                        <td>在考量资金安全性的基础上，每月为公司创造近千万的财务收益。</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--项目经历END-->
                                                <!--教育经历BEGIN-->
                                                <div class="col-md-12 resume_title">
                                                    <i class="fa fa-graduation-cap"></i>
                                                    <span href="" class="item-name primary-link">教育经历</span>
                                                </div>
                                                <div class="col-md-12 resume_content">
                                                    <div class="col-md-4">郑州航空工业管理学院 2003/09–2007/07</div>
                                                    <div class="col-md-4">专业：公共事业管理</div>
                                                    <div class="col-md-4">学历：本科</div>
                                                </div>
                                                <!--教育经历END-->
                                                <!--语言能力BEGIN-->
                                                <div class="col-md-12 resume_title">
                                                    <i class="fa fa-comments-o"></i>
                                                    <span href="" class="item-name primary-link">语言能力</span>
                                                </div>
                                                <div class="col-md-12 resume_content">
                                                    <div class="col-md-12">英语、普通话</div>
                                                </div>
                                                <!--语言能力END-->
                                                <!--自我评价BEGIN-->
                                                <div class="col-md-12 resume_title">
                                                    <i class="fa fa-file-text-o"></i>
                                                    <span href="" class="item-name primary-link">自我评价</span>
                                                </div>
                                                <div class="col-md-12 resume_content">
                                                    <div class="col-md-12">电子行业7年资金管理经验，包括:资金运作、银行授信融资、银承及贴现等，熟练SAP操作、境内外收付款业务流程，财务报表分析及统计，与各银行良好的业务合作。 </div>
                                                </div>
                                                <!--自我评价END-->
                                                <!--附加信息BEGIN-->
                                                <div class="col-md-12 resume_title">
                                                    <i class="fa fa-paperclip"></i>
                                                    <span href="" class="item-name primary-link">附加信息</span>
                                                </div>
                                                <div class="col-md-12 resume_content">
                                                    <div class="col-md-12">英语六级证书</div>
                                                    <div class="col-md-12">会计从业资格证书</div>
                                                </div>
                                                <!--附加信息END-->
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-pane resume portlet">
                            <!--技能认证BEGIN-->
                            <div class="col-md-12 resume_title">
                                <i class="fa fa-trophy"></i>
                                <span href="" class="item-name primary-link">技能认证</span>
                            </div>
                            <div class="col-md-12 resume_content">
                                内容
                            </div>
                            <!--技能认证END-->
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-pane resume portlet">
                            <!--相似简历BEGIN-->
                            <div class="col-md-12 resume_content">
                                共 2 份相似简历
                            </div>
                            <!--相似简历END-->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-pane resume portlet">
                            <!--相似代理简历BEGIN-->
                            <div class="col-md-12 resume_content">
                                共 26 份相似代理简历
                            </div>
                            <!--相似代理简历END-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
    </div>
    <!-- END PAGE CONTENT BODY -->
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
